
.Btcc {
    width: 140px;
    height: 38px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 3px #000;
    border: 10px;
    border-radius: 20px;
    cursor: pointer;
    /*color del boton*/
    background: #D4AF37;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

    .Btcc:hover {
        color: #dcf8c6;
    }

