body {
    /* Estilos para la sección "About" */
    .about-section

{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about-content {
    max-width: 600px;
    text-align: left;
    margin-bottom: 20px;
}

    .about-content h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .about-content p {
        font-size: 16px;
        line-height: 1.5;
    }

.about-image img {
    max-width: 100%;
    height: auto;
}

/* Estilos para hacerla responsive */
@media (min-width: 768px) {
    .about-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about-content {
        width: 50%;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .about-image {
        width: 50%;
    }
}
}
